.postItem {
  background-color: var(--card-bg-color);
  width: 98%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  display: flex;
}

.leftItem {
  display: flex;
  flex-direction: column;

}

.time {
  order: -1;
}

.time, .author {
  font-size: 0.85rem;
  color: var(--faded-text-color);
}

.rightItem {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  transition: 0.3s scale;
}

.btn:active {
  transform: scale(0.95);
}

.icon {
  font-size: 1.4rem;
}