.postItem {
  background-color: var(--card-bg-color);
  width: 98%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0.75em 1em;
  border-radius: 6px;
}

.contentWrapper {
  display: flex;
}

.flagList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.25em;
  gap: 1em;
}

.flagItem {
  font-size: 0.8rem;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg-color);
}

.titleLink {
  color: var(--primary-text-color);
  border-bottom: 2px solid var(--primary-text-color);
}

.titleLink:focus,
.titleLink:hover {
  color: var(--primary-text-hover-color);
}

.description {
  font-size: 0.85rem;
}

.description > span {
  color: var(--faded-text-color);
}

.rightItem {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  transition: 0.3s scale;
}

.btn:active {
  transform: scale(0.95);
}

.icon {
  font-size: 1.4rem;
}
