.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(128, 128, 128, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 98%;
  max-width: 500px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg-color);
  border-radius: 6px;
}
