.container {
  width: 85%;
  margin: 0 auto;
  max-width: 350px;
}

.alert {
  color: var(--alert-text-color);
  text-align: center;
  line-height: 1.2;
  margin-top: 1em;
}

.label {
  font-size: 1.06rem;
}

.input {
  font-size: 1.2rem;
  padding: 0.5em 0.25em;
  width: 100%;
  margin-bottom: 0.75em;
}

.input:last-of-type {
  margin-bottom: 1.5em;
}

.btn {
  display: block;
  font-size: 1.05rem;
  width: 60%;
  max-width: 180px;
  padding: 0.8em 1.5em;
  margin: 0 auto 1em;
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-color);
  transition: 0.3s background-color;
  border: none;
  border-radius: 6.5px;
}

.btn:focus, .btn:hover {
  background-color: var(--primary-btn-bg-hover-color);
}

.description {
  text-align: center;
}

.description > a {
  color: var(--link-text-color);
  transition: 0.3s color 0.3s border-bottom;
  border-bottom: 1px solid var(--link-text-color);
}

.description > a:hover, .description > a:focus {
  color: var(--link-text-hover-color);
  border-bottom: 1px solid var(--link-text-hover-color);
}