:root {
  /* Background Colors */
  --bg-color: #fefae0;
  --navbar-bg-color: #d4a373;
  --card-bg-color: #faedcd;
  --dashboard-bg-color: rgb(96, 95, 95);

  /* Text Colors */
  --primary-text-color: #14141a;
  --primary-text-hover-color: #14141a95;
  --primary-text-visited-color: #510057;
  --faded-text-color: #14141aba;
  --menu-btn-hover-color: #fff;
  --link-text-color: #453fc6;
  --link-text-hover-color: #20206f;
  --alert-text-color: #83252b;
  --author-text-color: #423c48;
  --dashboard-text-color: #fcfcfc;

  /* Button Colors */
  --primary-btn-bg-color: #4b532d;
  --primary-btn-bg-hover-color: #929e57;
  --primary-btn-bg-disabled-color: #4b532d80;
  --primary-btn-color: #fcfcfc;

  --secondary-btn-color: #554806;
  --secondary-btn-bg-hover-color: #a18708;
  --secondary-btn-text-color: #fcfcfc;

  --delete-btn-color: #950f37;
  --delete-btn-hover-color: #c8144a;
  --delete-btn-text-color: #fcfcfc;

  --confirm-btn-bg-color: #1d492c;
  --confirm-btn-bg-hover-color: #3c965b;
  --confirm-btn-text-color: #fcfcfc;

  /* Border Colors */
  --navbar-border-color: #14141a;
  --post-border-color: #0000007c;
}

:root[data-theme="dark"] {
  /* Background Colors */
  --bg-color: #22223b;
  --navbar-bg-color: #3e4756;
  --card-bg-color: #495465;

  --primary-text-color: #fcfcfc;
  --primary-text-hover-color: #fcfcfcb6;
  --primary-text-visited-color: #fcd1ff;
  --faded-text-color: #fcfcfcba;
  --menu-btn-hover-color: #fff;
  --link-text-color: #453fc6;
  --link-text-hover-color: #20206f;
  --alert-text-color: #83252b;
  --author-text-color: #fafafa;

  /* Button Colors */
  --primary-btn-bg-color: #002d67;
  --primary-btn-bg-hover-color: #00377e;
  --primary-btn-bg-disabled-color: #002d6778;
  --primary-btn-color: #fcfcfc;

  --secondary-btn-color: #001e45;
  --secondary-btn-bg-hover-color: #002657;
  --secondary-btn-text-color: #fcfcfc;

  --delete-btn-color: #950f37;
  --delete-btn-hover-color: #c8144a;
  --delete-btn-text-color: #fcfcfc;

  --confirm-btn-bg-color: #1d492c;
  --confirm-btn-bg-hover-color: #3c965b;
  --confirm-btn-text-color: #fcfcfc;

  /* Border Colors */
  --navbar-border-color: #f7f7f8;
  --post-border-color: #ffffffbf;
}
