.contentInputs {
  display: flex;
  flex-direction: column;
  max-width: 365px;
  margin: 0 auto;
  gap: 1.25em;
  margin-bottom: 1.5em;
}

.input,
.select {
  font-size: 1.05rem;
  border-radius: 6px;
  padding: 0.75em 0.25em;
}

.alert {
  color: var(--alert-text-color);
  text-align: center;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 750px) {
  .contentInputs {
    flex-direction: row;
    justify-content: center;
    max-width: 750px;
  }

  .input {
    flex: 1 1 450px;
  }

  .select {
    flex: 1 1 150px;
  }
}
